<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <header id="header" class="header">
    <h2 style="color : white;"> IOT Predictive Maintenance</h2>
    <div class="header-right pull-right">
    <img src="../assets/images/facialrecognition1_circle.png" width="30%"  height="80px" ></div>
  </header> -->
<!--The content below is only a placeholder and can be replaced.-->

<body style="">

    <!--hamburger begins-->

    <div class="row" style="font-family: 'Fjalla One', sans-serif !important;">
        <div class="left ">
            <ul>
                <a href="#">
                    <li class="item-menu layer">
                        <span style="margin:0px 15px;"><img style="width:32px;height:32px;margin-top:25px;" src="../assets/images/layer.png"></span>
                        <!--<span img src="C:\Users\smandre\Downloads\Seema Project\Images\Images_to_go\layer.png" style="padding:5px;background-color:pink;"></span>-->
                        <span><img style="width:70%;" src="../assets/images/cornerPiece.png"></span>
                    </li>
                </a>
                <a href="#">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"><img style="width:32px;height:32px;margin-top:15px;" src="../assets/images/icon (8).png"></span>
                        <a href="#"><span class="menu">Dashboard</span></a>
                    </li>
                </a>
                <a href="associate-drilldown">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"><img style="width:32px;height:32px;margin-top:15px;" src="../assets/images/teamwork (3).png"></span>
                        <a href="associate-drilldown"><span style="color:#12abdb !important;" class="menu">Component Analysis</span></a>
                    </li>
                </a>
                <a href="iot">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"> <img style="width:32px;height:32px;margin-top:15px;" src="../assets/images/filter.png"></span>
                        <a href="iot"><span class="menu">Filters</span></a>
                    </li>
                </a>
                <a href="">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"> <img style="width:32px;height:32px;margin-top:15px;" src="../assets/images/report (4).png"></span>
                        <a href=""><span class="menu">Reports</span></a>
                    </li>
                </a>


            </ul>
        </div>
        <!-- end left -->

    </div>
    <!--hamburger ends-->


    <!--header starts-->
    <div class="promhead">
        <a href="header">
            <img class="logo" src="../assets/images/newCloudHexLogo.png" style=""></a>
        <a href="login-page">
            <img class="headshot"  src="../assets/images/logout.png"  style=""></a>
                <a href="#"> <img class="headshot1" src="../assets/images/Headshot 1.png" style="">

                </a>
                <h1 style="">IOT Predictive Maintenance</h1>

    </div>
    <!--header ends-->