<!-- <div class="JStableOuter" style="padding-left:1.5% ">
    <table>
      <thead>
        <tr style="top: 0px" >
          <th style="left: 0px" ></th>
          <th style="color: steelblue"> 2010 </th>
          <th class="profitCol" style="color: steelblue">2011 </th>
          <th class="revenueCol" style="color: steelblue">2012 </th>
          <th style="color: steelblue">2013</th>
          <th style="color: steelblue">2014</th>
          <th style="color: steelblue">2015 </th>
          <th style="color: steelblue">2016 </th>
          <th style="color: steelblue">2017 </th>
          <th style="color: steelblue">2018 </th>
          <th class="contBox" style="color: steelblue">2019</th>
          <th class="contBox" style="color: steelblue">2020</th>
        </tr>
     
  
       
      <tbody>
        <tr>
          <td>9071AA</td>
          <td></td>
          <td ></td>
          <td></td>
          <td style="z-index: -1"></td>
          <td style="z-index: -1"></td>
          <td></td>
          <td><img src="../assets/images/diamond.png"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
       
        <tr>
            <td>B6441L</td>
            <td></td>
            <td ></td>
            <td></td>
            <td><img src="../assets/images/circle.png"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
    
          
          </tr>
          <tr>
              <td>AW9147</td>
              <td></td>
              <td ><img src="../assets/images/estInstallation.png" ></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      
            
            </tr>
            <tr>
                <td>B6863L</td>
                <td></td>
                <td ><img src="../assets/images/estInstallation.png" ></td>
                <td></td>
                <td></td>
                <td></td>
                <td><img src="../assets/images/circle.png"></td>
                <td></td>
                <td><img src="../assets/images/diamond.png"></td>
                <td></td>
                <td></td>
        
              
              </tr>
              <tr>
                  <td>BAA634</td>
                  <td></td>
                  <td ></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><img src="../assets/images/estInstallation.png" ></td>
                  <td></td>
                  <td></td>
                  <td></td>
          
                
                </tr>
                <tr>
                    <td>C6532B</td>
                    <td></td>
                    <td ></td>
                    <td><img src="../assets/images/stop.png"></td>
                    <td></td>
                    <td></td>
                    <td><img src="../assets/images/estInstallation.png" ></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
            
                  
                  </tr>
                  <tr>
                      <td>L2749T</td>
                      <td></td>
                      <td ></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><img src="../assets/images/diamond.png" ></td>
                      <td></td>
                      <td><img src="../assets/images/estInstallation.png" ></td>
                      <td></td>
                      <td></td>
              
                    
                    </tr>
                    <tr>
                        <td>8456CT</td>
                        <td></td>
                        <td ></td>
                        <td><img src="../assets/images/estInstallation.png" ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                
                      
                      </tr>
        
        
      </tbody>
    </table>
  </div> -->

  <div class="container-fluid">

<table class="comphis">
<tr>
  <th>Component number<br/><textarea class="filter" ></textarea></th>
  <th>2010</th>
  <th>2011</th>
  <th>2012</th>
  <th>2013</th>
  <th>2014</th>
  <th>2015</th>
  <th>2016</th>
  <th>2017</th>
  <th>2018</th>
  <th>2019</th>
  <th>2020</th>
</tr>
<tr>
  <td>9071AA</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>B6441L</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>AW9147</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>B6863L</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>BAA634</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>B6532B</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>L2749T</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>

</table>

<div>
<img class="square" src="../assets/images/diamond.png">
</div>

<div>
  <img class="square1" src="../assets/images/diamond.png">
  
  </div>
  <div>
    <img class="square2" src="../assets/images/diamond.png">
    
    </div>
    <div>
      <img class="square3" src="../assets/images/diamond.png">
      
      </div>
<div>
  <img class="circle" src="../assets/images/circle.png">
</div>
<div>
  <img class="circle1" src="../assets/images/circle.png">
</div>
<div>
  <img class="line" src="../assets/images/estInstallation.png">
</div>
<div>
  <img class="line1" src="../assets/images/estInstallation.png">
</div>
<div>
  <img class="line2" src="../assets/images/estInstallation.png">
</div>
<div>
  <img class="line3" src="../assets/images/estInstallation.png">
</div>
<div>
  <img class="line4" src="../assets/images/estInstallation.png">
</div>
<div>
  <img class="line5" src="../assets/images/estInstallation.png">
</div>

<div>
  <img class="line6" src="../assets/images/estInstallation.png">
</div>

  </div>



 

 

  
  