ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 33px 18px;
    text-decoration: none;
}

li a:hover {
    color: blue;
}

.container-fluid {
    background-color: white;
    padding: 35px;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 26%;
    border: 1px solid #202020;
    text-align: left;
    box-shadow: -9px 10px 30px -2px #12abdb;
    width: 458px;
    height: 373px;
}

#choice {
    margin-top: 1%;
}

body {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    height: 100%;
    width: 100%;
}

.body-style {
    height: 612px;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: #0070ad;
    font-size: 25px;
    margin-bottom: 20px;
}

h5 {
    margin: 25px 0px;
    color: #202020;
    font-size: 12px;
}

img.capglogo {
    width: 239px;
    height: 65px;
    /* height: 100px; */
    border: 0;
    float: left;
}

#email {
    width: 374px;
    font-size: 18px;
    height: 44px;
    color: #a0a0a0;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

#pwd {
    width: 374px;
    height: 44px;
    font-size: 18px;
    color: #a0a0a0;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}

#forgot {
    float: right;
    color: #a0a0a0;
    font-size: 14px;
    display: inline;
    margin-right: 35px;
}

.checkbox {
    display: inline;
}

#signin {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 7px;
    font-weight: bold;
    border: none;
    background-color: #12abdb;
    border-radius: 3px;
    width: 374px;
    height: 35px;
}


/* 
@media screen and (min-width:760px) and (max-width:992px){

    .container-fluid {
        width: 440px;
    }

}

@media screen and (min-width:993px) and (max-width:1200px){

    .container-fluid {
        width: 454px;
    }

}

@media screen and (min-width:760px) and (max-width:992px){

    .container-fluid {
        width: 420px;
    height: 284px;
    margin-left: 15%;
    }

}



 */

@media screen and (min-width:1000px) and (max-width:1200px) {
    .container-fluid {
        margin-left: 26%;
    }
}

@media screen and (min-width:901px) and (max-width:1000px) {
    .container-fluid {
        margin-left: 22%;
    }
}

@media screen and (min-width:760px) and (max-width:900px) {
    .container-fluid {
        margin-left: 22%;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .container-fluid {
        margin-top: 44px;
        margin-left: 30%;
    }
}