<!-- <app-header></app-header>
<app-table></app-table> -->
<app-header></app-header>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  </head>
  <body>
  <div class="container" style="padding-top: 0px; margin-top: 0px" >
      <div class="well">
          <h3 style="color: steelblue">COMPONENT REMOVAL HISTORY</h3> 
      </div>
      <div class="well">
  <div class="row" style="background-color:rgb(248, 244, 244); width:98%; float: right">
    <div class="col-sm-3">
     
      <span style="color:rgb(180, 178, 178); padding-left: 5%">Filter name</span><br><span style="color:black; padding-left: 5%">Filter 1</span>
  
    </div>
    <div class="col-sm-2 ">
        <span style="color:rgb(180, 178, 178);">Start Date</span><br><span style="color:black;">09-26-2011</span>
           </div>
    <div class="col-sm-2 ">
      
      <span style="color:rgb(180, 178, 178);">End date</span><br><span style="color:black;">03-26-2019</span>
    </div>
    <div class="col-sm-3 ">
        <span style="color:rgb(180, 178, 178);">Unit Status</span><br><span style="color:black;">Removed</span>
    </div>
    <div class="col-sm-1 " style="float: left ">
      <img src="../assets/images/compose.png" style="background-color:rgb(166, 203, 214);" ALIGN="left;" height="100%"/>
    </div>
    <div class="col-sm-1 " style="float: left ">
      <img src="../assets/images/file.png" style="background-color:rgb(166, 203, 214);" ALIGN="left;" hspace="1" height="100%"/>
    </div>
  </div>
  </div>
  </div>
  <div class="container-fluid" style="padding-top: 1%;" >
      <div class="panel panel-default">
          <div class="panel-body">
    <div class="row" style="background-color:white; width:95%; float: right">
  <div class="col-sm-2" style="font: size 6; padding-left: 4%"> 
       
           <p> <b>Date Range </b></p>
    
      
      
    </div>
    <div class="col-sm-3" style="padding-left:0%;">
       
  <input type="date" value=" " style="width: 90px" class="dates" >-<input type="date" class="dates" style="width: 90px">
  </div>
            
      <div class="col-sm-2 " style="padding-left:0%;">
       <b> Extract Date</b>
       <input type="date" value=" " style="width: 90px" class="dates">
      
      </div>
      <div class="col-sm-2">
        <b>Analysis</b>
      
        <select class="dates">
           <option value="volvo">Select</option>
           <option value="saab">best</option>
           <option value="opel">worst</option>
           
         </select>
      </div>
      <div class="4">
        <b>Removal event</b>
        <select>
          <option value="volvo">Select All</option>
          <option value="saab">Scheduled</option>
          <option value="opel">unscheduled</option>
          <option value="audi">other</option>
        </select>
        
      </div>
    </div>
  
    </div>
  </div>
</div>
    <br><br><br><br><br><br>
  <app-table></app-table>

  
