<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="outerline1">
<div class="container-fluid" width="90%">
  
  <hr class="new1" width="90%" >
  <div class="row" width="90%">
    <div class="col-sm-2" style="background-color:white; text-align:right; font-family: PT Sans Narrow ; font-size: 18px;border-right: 1px solid gray;  height: 90px ">
      <b> ORDER INFO </b>
    </div>
 <!--    <div class="col-sm-1" style="border-right: 2px solid gray;  height: 90px;
        position: absolute;"></div> -->
    <div class="col-sm-2" style="background-color:white; font-size: 14px; font-family: PT Sans Narrow;   height: 90px; ">
        <table>
            <td style="font-family: PT Sans Narrow "><b>Invoice</b>  #007612<br>
            <b>Order Id</b>  4F3S81<br>
            <b>Order Date</b>  Apr 10,2019<br>
            <b>Account</b>  968-34567<br></td>
          </table>
    </div>
       
    <div class="col-sm-2" style="background-color:white;text-align:right; border-right: 1px solid gray;  height: 90px; font-family: PT Sans Narrow ; font-size: 17px;">
        <b>DELIVERY INFO </b>
       
        <!--  -->
      </div>
      
       <div class="col-sm-2" style="background-color:white;" display="inline-block; " >
          
        <table>
            <img src="/assets/images/shop (1).png" display="inline-block; "/>
            <td style="font-family: PT Sans Narrow ">  <b> Deliver from</b><br>
          Good Morning Cafe<br>
          821 W Halsted St<br>
          Chicago, IL, 60618<br>
          631-293-3123</td>
          
        </table>
      </div>
      <!-- <div class="col-sm-1" style="background-color:white;">
        <img src="..\assets\images\pointer.png"/>
      </div> -->
      <div class="col-sm-2" style="background-color:white;" display="inline-block;" >
        <table>
          <tr>
            <img src="..\assets\images\pointer.png" display="inline-block;"/>
            <td style="font-family: PT Sans Narrow "> <b> Deliver To</b><br>
          Cassie Cain<br>
          1236 N Damen Ave<br>
          Chicago, IL, 60618<br>
          321-456-7890</td> </tr>
        </table>
      </div>
     <!--  <div class="col-sm-1" style="background-color:white;">
        
      </div> -->
      <div class="col-sm-2" style="background-color: white;" display="inline-block;" vertical-align="top;">
        <table >
          <tr>
            <img src="..\assets\images\calendar (5).png" display="inline-block;"/>
            <td style="font-family: PT Sans Narrow "> <b> Deliver when</b><br>
         ASAP(35-45 minutes)</td></tr>
        </table>
        
      </div>
      <hr class="new2" width=90%>
  </div>

</div>

</div>
<div class="h2" style="font-family: PT Sans Narrow "><b>TRACK YOUR ORDER</b></div>
<div class="outerline">
<section style="padding: 10px 0px 75px 10px;">
    <div class="thirds"  >
    <img src="../assets/images/Screenshot (98).png" class="img-rounded" alt="Cinque Terre" width="90%" height="315" p style="padding-left:20%">
    </div>
    <div class="thirds">
     <p style="font-family: PT Sans Narrow ">
     <b> SIT BACK AND RELAX, YOUR ORDER IS COMING SOON...</b><br>
     </p>
     <img src="../assets/images/map.png" class="img" alt="Cinque Terre" width="100%" height="296" style="padding-top:-2%; border:2px solid grey;">  
    </div>
    <div class="last">
       <img src="../assets/images/blackboard.PNG" style="width: 275px;">
         
     
      <h5 style="font-size: 18px"><br><b>QUESTIONS OR CHANGES TO <br>
        YOUR ORDER.. CALL US?</b></h5><br>
        <table>
        <td><img src="../assets/images/feedback.png" height="50px">&nbsp;</td>
        <td><h5 class="last_heading" style="font-size: 25px"><b>631-292-3123</b></h5></td>
        </table>
     
    </div>
   </section>
   </div>
   
</body>
</html>




