<!DOCTYPE html>
<html>
      <body>
      <div class="container">
          <img src="../assets/facial_recognition_loginBG1.jpg" class="body-style">

          <div class="content">
            <div class="great-to-see-you">
              <h1>It's great to see you!</h1>
            </div>
          <div class="font-size-sign">
              <h3>Sign in by entering the information below</h3>
          </div>
          <div class="form">

              <input type="text" style="border:1px solid #f08b18"  value="Username" name ="username" placeholder="Username">
              <br>
              <br>
              <input type="text" style="border:1px solid #f08b18" value="Password" name ="pwd" placeholder="Password">
              <br>
              <br>
              <!-- <button class="login" value="button"><a href="existing-user" style="text-decoration: none; color:#ffffff;" >Login</a> </button> -->
              <button class="button" value="button"><a href="existing-user" style="text-decoration: none; color:#ffffff;">Login</a></button>
            </div>

<div class="mini-container">         

           

            
              
            


            <div class="squiggle-image">
              <img src="../assets/squiggle2.jpg" height="32" width="195"> <!--width=40 and height=320-->
            </div>

            <div class="text">
              <h3>Are you new here?</h3>
            </div>

            
                <button class="button" value="button"><a href="create-account" style="text-decoration: none; color: #ffffff"> CREATE ACCOUNT </a></button>
           
            
          </div>
        </div>
      </div>   

        <div class="container_header">
            <div >
                <img src="../assets/GMClogo2.jpg" height="192" width="195" style="z-index: 1;
                position: relative;    margin-top: -5%;
                margin-left: 15%;">  
              </div>
        </div>

     
                  
      </body>
      </html>